@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
html h1 {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  z-index: 2;
}
.header .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 7.8rem 0 1.5rem;
}
.header .header__container .header__logo {
  display: flex;
  flex-direction: row;
}
.header .header__container .header__logo .header__logo-name {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}
.header .header__container .header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
}
.header .header__container .header__navigation .header__links {
  display: flex;
  justify-content: space-between;
  gap: 3.875rem;
  margin-left: 3.5rem;
}
.header .header__container .header__navigation .header__links a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
}
.header .header__container .header__navigation .header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
}
.header .header__container .header__navigation .header__buttons .header__button {
  background: none;
  border: none;
}
.header .header__container .header__navigation .header__buttons .header__button .header__icon {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 768px) {
  .header .header__container {
    width: 100%;
    margin: 0 2rem 0 1.5rem;
  }
  .header .header__container .header__navigation {
    width: auto;
  }
  .header .header__container .header__navigation .header__links {
    display: none;
    margin-left: 0;
  }
}

body {
  height: 100vh;
}

.hero-section {
  height: max-content;
  display: flex;
  justify-content: center;
  background-image: url("./../../src/images/diego-gutierrez.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 226px;
  background-size: cover;
}
@media (max-width: 768px) {
  .hero-section {
    padding-top: 135px;
    height: auto;
  }
}
.hero-section .hero-section__aside {
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .hero-section .hero-section__aside {
    display: none;
    position: absolute;
  }
}
.hero-section .hero-section__aside .hero-section__vertical-line {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4rem;
}
.hero-section .hero-section__aside .hero-section__vertical-line .hero-section__vertical-line-red {
  width: 4px;
  height: 100px;
  background-color: #DD2242;
}
.hero-section .hero-section__aside .hero-section__vertical-line .hero-section__vertical-line-white {
  width: 2px;
  height: 296px;
  background-color: #FFFFFF;
}
.hero-section .hero-section__aside .hero-section__description {
  transform: rotate(-90deg);
  margin-top: 20px;
}
.hero-section .hero-section__aside .hero-section__calendar {
  margin-top: 21rem;
}
.hero-section .hero-section__aside .hero-section__calendar .hero-section__calendar-item {
  width: max-content;
  transform: rotate(-90deg);
  word-spacing: 30px;
}
.hero-section .hero-section__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  margin: 0 30px 0 30px;
  gap: 15rem;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: auto;
    gap: 0;
  }
}
.hero-section .hero-section__main .hero-section__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  font-size: 6.8rem;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__title {
    font-size: 2.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding-bottom: 5rem;
  }
}
.hero-section .hero-section__main .hero-section__title .hero-section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #DD2242;
  border: none;
  border-radius: 211px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  width: 250px;
  height: 50px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.hero-section .hero-section__main .hero-section__title .hero-section__button:hover {
  background-color: #DCE8F2;
  color: #000;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__title .hero-section__button {
    height: auto;
    width: 100%;
  }
}
.hero-section .hero-section__main .hero-section__content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: end;
}
.hero-section .hero-section__main .hero-section__content-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__content-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__content-item {
  height: max-content;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: 41px 126px 49px 71px;
  z-index: 2;
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__content-item .hero-section__content-number {
  color: #DD2242;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  font-size: 0.9rem;
  padding-bottom: 14px;
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__content-item .hero-section__content-title {
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__content-item .hero-section__content-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6F7787;
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__video {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__content-container .hero-section__video {
    width: 100%;
    height: max-content;
  }
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__content-container .hero-section__video iframe {
    position: static;
    height: 18rem;
  }
}

.destination-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 11rem;
  padding: 11rem 0 11rem 0;
  background-image: url("./../../src/images/beach.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
@media (max-width: 768px) {
  .destination-section {
    padding: 6rem 0 6rem 0;
    gap: 5rem;
  }
}
.destination-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 11, 32, 0.9);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.destination-section .destination-section__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  z-index: 1;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block .destination-section__image {
    max-width: 314px;
    max-height: 232px;
  }
}
@media (max-width: 768px) {
  .destination-section .destination-section__block {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.destination-section .destination-section__block .destination-section__content {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block .destination-section__content {
    align-items: center;
  }
}
.destination-section .destination-section__block .destination-section__content .destination-section__block-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block .destination-section__content .destination-section__block-title {
    text-align: center;
  }
}
.destination-section .destination-section__block .destination-section__content .destination-section__block-description {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6F7787;
  padding: 0.2rem 0 1.8rem 0;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block .destination-section__content .destination-section__block-description {
    text-align: center;
  }
}
.destination-section .destination-section__block .destination-section__content .destination-section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #DD2242;
  border: none;
  border-radius: 211px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  width: 250px;
  height: 50px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.destination-section .destination-section__block .destination-section__content .destination-section__button:hover {
  background-color: #DCE8F2;
  color: #000;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block .destination-section__content .destination-section__button {
    width: 100%;
  }
}
.destination-section .destination-section__block--reverse {
  flex-direction: row-reverse;
  z-index: 1;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block--reverse {
    flex-direction: column;
  }
}

.explore-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  background-image: url("./../../src/images/explore.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.explore-section .slider-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 2207px;
  padding-top: 11rem;
}
@media (max-width: 768px) {
  .explore-section .slider-block {
    padding-top: 3rem;
    height: 2000px;
  }
}
.explore-section .slider-block .slider-block__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #020B20;
  font-size: 2.8rem;
  text-align: center;
  padding-bottom: 2rem;
}
@media (max-width: 768px) {
  .explore-section .slider-block .slider-block__title {
    width: 15rem;
    font-size: 2.3rem;
  }
}
.explore-section .slider-block .slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.explore-section .slider-block .slider .slider__container {
  display: flex;
  gap: 30px;
}
.explore-section .slider-block .slider .slider__button {
  border: none;
  background: none;
  cursor: pointer;
}
.explore-section .slider-block .slider .slider__button .slider__arrow {
  width: 2rem;
}
.explore-section .slider-block .slider .slider__button .slider__arrow--rotate {
  transform: rotate(180deg);
}
.explore-section .slider-block .slider .slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 768px) {
  .explore-section .slider-block .slider .slider__wrapper {
    max-width: 364px;
  }
}
.explore-section .slider-block .slider .slider__wrapper .slider__track {
  display: flex;
  gap: 31px;
  transition: transform 0.3s ease;
  max-width: 1277px;
}
.explore-section .slider-block .slider .slider__wrapper .slider__track .slider__item {
  width: 405px;
  height: 257px;
  max-width: 33.3333%;
}
.explore-section .slider-block .slider .slider__wrapper .slider__track .slider__item .slider__item__image {
  height: 100%;
}
@media (max-width: 768px) {
  .explore-section .slider-block .slider .slider__wrapper .slider__track .slider__item {
    max-width: 100%;
  }
}
@media (max-width: 758px) {
  .explore-section .slider-block .slider .slider__wrapper .slider__track {
    width: 22.5rem;
  }
}
.explore-section .slider-block .slider .slider__dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  width: 11rem;
}
.explore-section .slider-block .slider .slider__dots .slider__dot {
  width: 1rem;
  height: 1rem;
  background: #85A3B2;
  border-radius: 50%;
  cursor: pointer;
}
.explore-section .slider-block .slider .slider__dots .slider__dot--active {
  width: 3.3rem;
  height: 1rem;
  background: #DD2242;
  border-radius: 60px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .explore-section .slider-block .slider .slider__container {
    gap: 0.2rem;
    display: flex;
  }
}
.explore-section .numbers-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 794px;
  padding-bottom: 12rem;
}
.explore-section .numbers-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 11, 32, 0.9);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.explore-section .numbers-block .numbers-block__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  z-index: 1;
  padding-top: 11rem;
}
.explore-section .numbers-block .numbers-block__main .numbers-block__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
  font-size: 3.3rem;
}
.explore-section .numbers-block .numbers-block__main .numbers-block__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6F7787;
  font-size: 1rem;
  text-align: center;
  max-width: 484px;
}
.explore-section .numbers-block .numbers-block__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  z-index: 1;
}
@media (max-width: 768px) {
  .explore-section .numbers-block .numbers-block__items {
    flex-direction: column;
    gap: 3rem;
    padding-top: 3.5rem;
  }
}
.explore-section .numbers-block .numbers-block__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.explore-section .numbers-block .numbers-block__item .numbers-block__item-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #DD2242;
  font-size: 2.3rem;
}
.explore-section .numbers-block .numbers-block__item .numbers-block__item-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6F7787;
  font-size: 1rem;
  text-align: center;
  max-width: 20rem;
}

@media (max-width: 768) {
  .numbers-block__main {
    flex-direction: column;
    padding: 11rem 0 3rem 0;
  }
  .numbers-block__item-title {
    font-size: 2.2rem;
  }
}
.photo-section {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  height: 1388px;
  width: 100%;
}
@media (max-width: 768px) {
  .photo-section {
    width: auto;
    height: 752px;
  }
}
.photo-section .photo-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1rem;
}
.photo-section .photo-section__container .photo-title {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #000;
  font-size: 3.3rem;
  max-width: 614px;
}
@media (max-width: 768px) {
  .photo-section .photo-section__container .photo-title {
    font-size: 2.3rem;
  }
}
.photo-section .photo-section__container .photo-text {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #6F7787;
  font-size: 1rem;
  max-width: 470px;
  margin: 2.3rem 0 4rem 0;
}
@media (max-width: 768px) {
  .photo-section .photo-section__container .photo-text {
    max-width: 320px;
    margin: 1rem 0 1rem 0;
  }
}
.photo-section .photo-section__container .photo-section__grid {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 768px) {
  .photo-section .photo-section__container .photo-section__grid {
    gap: 0.3rem;
    grid-template-columns: 151px 151px;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.photo-section .photo-section__container .photo-section__grid .item1 {
  background: url(./../../src/images/photo-gallery/Image001.png);
  background-size: cover;
  width: 370px;
  height: 530px;
}
@media (max-width: 768px) {
  .photo-section .photo-section__container .photo-section__grid .item1 {
    width: 151px;
    height: 217px;
  }
}
.photo-section .photo-section__container .photo-section__grid .item2 {
  background: url(./../../src/images/photo-gallery/Image002.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 370px;
  height: 210px;
}
@media (max-width: 768px) {
  .photo-section .photo-section__container .photo-section__grid .item2 {
    width: 151px;
    height: 86px;
  }
}
.photo-section .photo-section__container .photo-section__grid .item3 {
  background: url(./../../src/images/photo-gallery/Image003.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 370px;
  height: 370px;
}
@media (max-width: 768px) {
  .photo-section .photo-section__container .photo-section__grid .item3 {
    width: 151px;
    height: 86px;
  }
}
.photo-section .photo-section__container .photo-section__grid .item4 {
  background: url(./../../src/images/photo-gallery/Image004.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 370px;
  height: 210px;
}
@media (max-width: 768px) {
  .photo-section .photo-section__container .photo-section__grid .item4 {
    width: 151px;
    height: 217px;
    position: relative;
    top: -130px;
  }
}
.photo-section .photo-section__container .photo-section__grid .item5 {
  position: relative;
  top: -320px;
  background: url(./../../src/images/photo-gallery/Image005.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 370px;
  height: 530px;
}
@media (max-width: 768px) {
  .photo-section .photo-section__container .photo-section__grid .item5 {
    width: 151px;
    height: 153px;
    top: -131px;
  }
}
.photo-section .photo-section__container .photo-section__grid .item6 {
  position: relative;
  top: -160px;
  background: url(./../../src/images/photo-gallery/Image006.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 370px;
  height: 370px;
}
@media (max-width: 768px) {
  .photo-section .photo-section__container .photo-section__grid .item6 {
    width: 151px;
    height: 153px;
    top: -131px;
  }
}

.video-section {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(./../../src/images/hugo-matilla-EFuCATqfblI-unsplash1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.video-section::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.46);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video-section .video-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 12rem 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .video-section .video-section__container {
    max-width: 314px;
    padding: 4.5rem 0 1rem 0;
  }
}
.video-section .video-section__container .video-section__title-block {
  text-align: center;
  padding-bottom: 11.5rem;
}
@media (max-width: 768px) {
  .video-section .video-section__container .video-section__title-block {
    padding-bottom: 0;
    max-height: 540px;
  }
}
.video-section .video-section__container .video-section__title-block .video-section__title {
  padding-bottom: 5rem;
  width: 841px;
  font-size: 2.5rem;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .video-section .video-section__container .video-section__title-block .video-section__title {
    max-width: 314px;
    padding-bottom: 1.5rem;
  }
}
.video-section .video-section__container .video-section__title-block .video-section__main-video {
  width: 840px;
  height: 560px;
}
.video-section .video-section__container .video-section__title-block .video-section__main-video .main-video__iframe {
  width: 840px;
  height: 560px;
}
@media (max-width: 768px) {
  .video-section .video-section__container .video-section__title-block .video-section__main-video {
    max-width: 314px;
    height: 560px;
  }
  .video-section .video-section__container .video-section__title-block .video-section__main-video .main-video__iframe {
    width: 314px;
    height: 192px;
  }
}
.video-section .video-section__container .video-section__bottom {
  display: flex;
  flex-direction: row;
  gap: 9rem;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .video-section .video-section__container .video-section__bottom {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
.video-section .video-section__container .video-section__bottom .video-section__bottom-block {
  display: flex;
  flex-direction: row;
  height: 196px;
  width: 610px;
}
@media (max-width: 768px) {
  .video-section .video-section__container .video-section__bottom .video-section__bottom-block {
    flex-direction: column;
    align-items: center;
    max-width: 314px;
    height: max-content;
    gap: 1rem;
  }
}
.video-section .video-section__container .video-section__bottom .video-section__bottom-block .video-section__bottom-video-container iframe {
  width: 234;
  height: 151;
}
@media (max-width: 768px) {
  .video-section .video-section__container .video-section__bottom .video-section__bottom-block .video-section__bottom-video-container iframe {
    width: 314px;
    height: 176px;
  }
}
.video-section .video-section__container .video-section__bottom .video-section__bottom-block .video-section__bottom-description {
  display: flex;
  padding-left: 2.3rem;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .video-section .video-section__container .video-section__bottom .video-section__bottom-block .video-section__bottom-description {
    width: 313px;
    text-align: center;
    gap: 1.2rem;
    padding-left: 0;
  }
  .video-section .video-section__container .video-section__bottom .video-section__bottom-block .video-section__bottom-description h6 {
    font-size: 1.3rem;
  }
  .video-section .video-section__container .video-section__bottom .video-section__bottom-block .video-section__bottom-description p {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
