@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
html h1 {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  z-index: 2;
}
.header .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 7.8rem 0 1.5rem;
}
.header .header__container .header__logo {
  display: flex;
  flex-direction: row;
}
.header .header__container .header__logo .header__logo-name {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}
.header .header__container .header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
}
.header .header__container .header__navigation .header__links {
  display: flex;
  justify-content: space-between;
  gap: 3.875rem;
  margin-left: 3.5rem;
}
.header .header__container .header__navigation .header__links a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
}
.header .header__container .header__navigation .header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
}
.header .header__container .header__navigation .header__buttons .header__button {
  background: none;
  border: none;
}
.header .header__container .header__navigation .header__buttons .header__button .header__icon {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 768px) {
  .header .header__container {
    width: 100%;
    margin: 0 2rem 0 1.5rem;
  }
  .header .header__container .header__navigation {
    width: auto;
  }
  .header .header__container .header__navigation .header__links {
    display: none;
    margin-left: 0;
  }
}

body {
  height: 100vh;
}

.hero-section {
  height: max-content;
  display: flex;
  justify-content: center;
  background-image: url("./../../src/images/diego-gutierrez.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 226px;
  background-size: cover;
}
@media (max-width: 768px) {
  .hero-section {
    padding-top: 135px;
    height: auto;
  }
}
.hero-section .hero-section__aside {
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .hero-section .hero-section__aside {
    display: none;
    position: absolute;
  }
}
.hero-section .hero-section__aside .hero-section__vertical-line {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4rem;
}
.hero-section .hero-section__aside .hero-section__vertical-line .hero-section__vertical-line-red {
  width: 4px;
  height: 100px;
  background-color: #DD2242;
}
.hero-section .hero-section__aside .hero-section__vertical-line .hero-section__vertical-line-white {
  width: 2px;
  height: 296px;
  background-color: #FFFFFF;
}
.hero-section .hero-section__aside .hero-section__description {
  transform: rotate(-90deg);
  margin-top: 20px;
}
.hero-section .hero-section__aside .hero-section__calendar {
  margin-top: 21rem;
}
.hero-section .hero-section__aside .hero-section__calendar .hero-section__calendar-item {
  width: max-content;
  transform: rotate(-90deg);
  word-spacing: 30px;
}
.hero-section .hero-section__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  margin: 0 30px 0 30px;
  gap: 15rem;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: auto;
    gap: 0;
  }
}
.hero-section .hero-section__main .hero-section__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  font-size: 6.8rem;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__title {
    font-size: 2.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding-bottom: 5rem;
  }
}
.hero-section .hero-section__main .hero-section__title .hero-section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #DD2242;
  border: none;
  border-radius: 211px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  width: 250px;
  height: 50px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.hero-section .hero-section__main .hero-section__title .hero-section__button:hover {
  background-color: #DCE8F2;
  color: #000;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__title .hero-section__button {
    height: auto;
    width: 100%;
  }
}
.hero-section .hero-section__main .hero-section__content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: end;
}
.hero-section .hero-section__main .hero-section__content-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__content-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__content-item {
  height: max-content;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: 41px 126px 49px 71px;
  z-index: 2;
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__content-item .hero-section__content-number {
  color: #DD2242;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  font-size: 0.9rem;
  padding-bottom: 14px;
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__content-item .hero-section__content-title {
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__content-item .hero-section__content-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6F7787;
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__video {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__content-container .hero-section__video {
    width: 100%;
    height: max-content;
  }
}
.hero-section .hero-section__main .hero-section__content-container .hero-section__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media (max-width: 768px) {
  .hero-section .hero-section__main .hero-section__content-container .hero-section__video iframe {
    position: static;
    height: 18rem;
  }
}

.destination-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 11rem;
  padding: 11rem 0 11rem 0;
  background-image: url("./../../src/images/beach.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
@media (max-width: 768px) {
  .destination-section {
    padding: 6rem 0 6rem 0;
    gap: 5rem;
  }
}
.destination-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 11, 32, 0.9);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.destination-section .destination-section__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  z-index: 1;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.destination-section .destination-section__block .destination-section__content {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block .destination-section__content {
    align-items: center;
  }
}
.destination-section .destination-section__block .destination-section__content .destination-section__block-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
  font-size: 2.5rem;
}
.destination-section .destination-section__block .destination-section__content .destination-section__block-description {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6F7787;
  padding: 0.2rem 0 1.8rem 0;
}
.destination-section .destination-section__block .destination-section__content .destination-section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #DD2242;
  border: none;
  border-radius: 211px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  width: 250px;
  height: 50px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.destination-section .destination-section__block .destination-section__content .destination-section__button:hover {
  background-color: #DCE8F2;
  color: #000;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block .destination-section__content .destination-section__button {
    width: 100%;
  }
}
.destination-section .destination-section__block--reverse {
  flex-direction: row-reverse;
  z-index: 1;
}
@media (max-width: 768px) {
  .destination-section .destination-section__block--reverse {
    flex-direction: column;
  }
}

.explore-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  background-image: url("./../../src/images/explore.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.explore-section .slider-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2207px;
  padding-top: 11rem;
}
.explore-section .slider-block .slider-block__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #020B20;
  font-size: 2.8rem;
  text-align: center;
}
.explore-section .numbers-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 794px;
  padding-bottom: 12rem;
}
.explore-section .numbers-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 11, 32, 0.9);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.explore-section .numbers-block .numbers-block__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  z-index: 1;
  padding-top: 11rem;
}
.explore-section .numbers-block .numbers-block__main .numbers-block__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
  font-size: 3.3rem;
}
.explore-section .numbers-block .numbers-block__main .numbers-block__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6F7787;
  font-size: 1rem;
  text-align: center;
  max-width: 484px;
}
.explore-section .numbers-block .numbers-block__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  z-index: 1;
}
.explore-section .numbers-block .numbers-block__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.explore-section .numbers-block .numbers-block__item .numbers-block__item-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #DD2242;
  font-size: 2.3rem;
}
.explore-section .numbers-block .numbers-block__item .numbers-block__item-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6F7787;
  font-size: 1rem;
  text-align: center;
  max-width: 20rem;
}

/*# sourceMappingURL=style.css.map */
