@use './../../base/variables' as style;
 
 @mixin slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;


    .slider__container {
        display: flex;
        gap: 30px;
    }

    .slider__button {
            border: none;
            background: none;
            cursor: pointer;

            .slider__arrow {
                width: 2rem;
            }

            .slider__arrow--rotate {
                transform: rotate(180deg);
            }
    }

    .slider__button--prev {

    }

    .slider__button--next {

    }

    .slider__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @media(max-width: 768px) {
            max-width: 364px;
        }

        .slider__track {
            display: flex;
            gap: 31px;
            transition: transform 0.3s ease;
            max-width: 1277px;

            .slider__item {
                width: 405px;
                height: 257px;
                max-width: 33.3333%;

                .slider__item__image {
                    height: 100%;
                }

                @media(max-width: 768px) {
                    max-width: 100%;
                }
            }
            @media(max-width: 758px) {
                width: 22.5rem; 
            }

        }

    }

    .slider__dots {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
        gap: 0.8rem;
        width: 11rem;

        .slider__dot {
            width: 1rem;
            height: 1rem;
            background: style.$pastel-blue;
            border-radius: 50%;
            cursor: pointer; 
        }

        .slider__dot--active {
            width: 3.3rem;
            height: 1rem;
            background: style.$main-red;
            border-radius: 60px;
            cursor: pointer;    
        }
    }

    @media(max-width: 768px) {
        .slider__container { 
        gap: 0.2rem;
        display: flex;
        }
    }

}



