@use './../base/typography.scss' as fonts;
@use './../base/_variables.scss' as style;
@use './../components/button/button.scss' as button;

.destination-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 11rem;
    padding: 11rem 0 11rem 0;

    background-image: url('./../../src/images/beach.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

    @media  (max-width: 768px) {
        padding: 6rem 0 6rem 0;
        gap: 5rem;
    }   

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(style.$midhight-navy, 0.9);
        opacity: 0.9;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 0;
    }

    .destination-section__block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 7rem;
        z-index: 1;

        .destination-section__image {
            @media(max-width: 768px) {
                max-width: 314px;
                max-height: 232px;
            }
        }

        @media  (max-width: 768px) {
           flex-direction: column;
           gap: 2.5rem;
        }   

        .destination-section__content {
            display: flex;
            flex-direction: column;
            max-width: 480px;

            @media  (max-width: 768px) {
                align-items: center;
            }   

            .destination-section__block-title {
                @include fonts.dm-normal;
                color: style.$white;
                font-size: 2.5rem;

                @media(max-width: 768px) {
                    text-align: center;
                }
            }

            .destination-section__block-description {
                @include fonts.dm-thin;
                color: style.$gray;
                padding:  0.2rem 0 1.8rem 0;

                @media(max-width: 768px) {
                    text-align: center;
                }
            }

            .destination-section__button {
                @include button.button;
                margin-top: 1.5rem;
                width: 250px;
                height: 50px;
                letter-spacing: 1px;
                text-align: center;
                padding: 0;
                @include fonts.dm-normal;

                @media  (max-width: 768px) {
                    width: 100%;
                }   
            }

        }

    }

    .destination-section__block--reverse {
        flex-direction: row-reverse;
        z-index: 1;

        @media  (max-width: 768px) {
            flex-direction: column;
        }   

    }
}