@use './../base/reset';
@use './../base/typography';
@use './../base/_variables.scss';

.header {
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 1.5rem 7.8rem 0 1.5rem;
        .header__logo {
            display: flex;
            flex-direction: row;
    
            .header__logo-name {
                text-transform: uppercase;
                color: white;
                font-weight: 900;
                font-size: 1.5rem;
            }   
        }
    
        .header__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1500px;
        width: 100%;
    
            .header__links {
                display: flex;
                justify-content: space-between;
                gap: 3.875rem;
                
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'DM Sans';
                    font-weight: 700;
                    font-size: 1.08rem;
                    color: white;
                }
            }
    
            .header__buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 2.5rem;
    
                .header__button {
                    background: none;
                    border: none;
        
                    .header__icon {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .header__container {
         width: 100%;
         margin: 0 2rem  0 1.5rem;   
         background: greenyellow;

            .header__navigation {
                width: auto;

                .header__links {
                    display: none;
                }
            }
        }
    }
}