@use './../base/reset';
@use './../base/typography' as fonts;
@use './../base/_variables.scss' as style;

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    z-index: 2;

    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 7.8rem 0 1.5rem;
        .header__logo {
            display: flex;
            flex-direction: row;

            .header__logo-name {
                text-transform: uppercase;
                color: style.$white;
                @include fonts.roboto-bold;
            }   
        }

        .header__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1500px;
        width: 100%;

            .header__links {
                display: flex;
                justify-content: space-between;
                gap: 3.875rem;
                margin-left: 3.5rem;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    @include fonts.dm-normal;
                    color: style.$white;
                    transition: color 0.3s ease;

                    &:hover {
                        color: style.$main-red;
                        text-decoration: underline;
                    }
                }
            }

            .header__buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 2.5rem;

                .header__buttons__search {
                display: inline-block;
                position: relative;
                float: right;
                padding: 0;


                input[type="text"] {
                    height: 2.2rem;
                    font-size: 1rem;
                    display: inline-block;
                    border: none;
                    outline: none;
                    padding-right: 2rem;
                    width: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: none;
                    z-index: 3;
                    transition: width 0.4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
                    cursor: pointer;
                    color: style.$white;


                    &::placeholder {
                        color: style.$white;
                    }

                    &:focus {
                        width: 12rem;
                        z-index: 1;
                        border-bottom: 1px solid style.$white;
                        color: style.$white; 
                    }

                    &:focus:hover {
                       border-bottom: 1px solid style.$gray; 
                    }
                }

                input[type="submit"] {
                    height: 1.5rem;
                    width: 1.5rem;
                    display: inline-block;
                    float: right;
                    background: url(./../../src/images/icons/search.svg);
                    text-indent: -1000px;
                    border: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                    cursor: pointer;
                    opacity: 1;
                    transition: opacity 0.4s ease;

                    &:hover {
                        color: style.$gray;
                    }
                }
            }   

            .burger-checkbox {
                position: absolute;
                visibility: hidden;
              }

              .burger {
                z-index: 3;
                cursor: pointer;
                display: block;
                position: relative;
                border: none;
                background: transparent;
                width: 40px;
                height: 26px;
              }

              .burger::before,
              .burger::after {
                content: '';
                left: 0;
                position: absolute;
                display: block;
                width: 100%;
                height: 4px;
                border-radius: 10px;
                background: style.$white;
                opacity: 0.8;
                transition: all 0.3s;
              }

              .burger::before {
                top: 0;
                box-shadow: 0 11px 0 style.$white;
                transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
              }

              .burger::after {
                bottom: 0;
                transition: bottom .3s .15s, transform .3s;
              }

              .burger-checkbox:checked + .burger::before {
                top: 11px;
                transform: rotate(45deg);
                box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
                transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
              }

              .burger-checkbox:checked + .burger::after {
                bottom: 11px;
                transform: rotate(-45deg);
                transition: bottom 0.3s, transform 0.3s 0.15s;
              }

              .burger-menu__list {
                position: absolute;
                top: 3.7rem;
                right: -8.4rem;
                display: none;
                gap: 0.8rem;
                padding: 2.5rem;
                background-color: style.$black;  // Если $black определена
                opacity: 0.5;
                list-style-type: none;
                transform: translateX(-100%);
                transition: .3s;
                width: 11rem;

                @media (max-width: 768px) {
                  z-index: 2;
                  top: -1rem;
                  right: -16rem;
                  background-color: style.$main-red;  // Если $main-red определена
                  color: style.$white;
                  opacity: 1;
                }

                // Использование :checked для отображения меню
                .burger-checkbox:checked ~ & {
                  transform: translateX(0);
                  display: none;
                }
              }

              .burger-menu__item {
                display: block;
                padding: 0.5rem;
                color: style.$white;
                font-size: 1rem;
                text-align: center;
                text-decoration: none;

                &:hover {
                  background-color: rgba(255, 255, 255, 0.2);
                }
              }
            } 
        }
    }

    @media (max-width: 768px) {
        .header__container {
         width: 100%;
         margin: 0 2rem  0 1.5rem;   

            .header__navigation {
                width: auto;

                .header__links {
                    display: none;
                    margin-left: 0;
                }

                .header__buttons {
                    .header__buttons__search {
                        display: none;

                        .header__buttons__search__form {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
