@use './../base/reset';
@use './../base/typography' as fonts;
@use './../base/_variables.scss' as var;

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    z-index: 2;

    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 7.8rem 0 1.5rem;
        .header__logo {
            display: flex;
            flex-direction: row;
    
            .header__logo-name {
                text-transform: uppercase;
                color: var.$white;
                @include fonts.roboto-bold;
            }   
        }
    
        .header__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1500px;
        width: 100%;
    
            .header__links {
                display: flex;
                justify-content: space-between;
                gap: 3.875rem;
                margin-left: 3.5rem;
                
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    @include fonts.dm-normal;
                    color: var.$white;
                }
            }
    
            .header__buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 2.5rem;
    
                .header__button {
                    background: none;
                    border: none;
        
                    .header__icon {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .header__container {
         width: 100%;
         margin: 0 2rem  0 1.5rem;   

            .header__navigation {
                width: auto;

                .header__links {
                    display: none;
                    margin-left: 0;
                }
            }
        }
    }
}