@use './../base/typography.scss' as fonts;
@use './../base/_variables.scss' as style;
@use './../components/button/button.scss' as button;

.steps__section {
    background-color: style.$light-blue;

    .steps__container {
        display: flex;
        flex-direction: column;
        gap: 2.8rem;
        padding: 6.2rem 0 6.2rem 0;
        max-width: 1140px;
        margin: 0 auto;

        @media(max-width: 768px) {
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            padding: 1.6rem 0 3rem 0;
        }

        .steps__title {
            @include fonts.dm-normal;
            font-size: 3.3rem;
            color: style.$dark-blue;
        }

        .steps__list {
            display: flex;
            flex-direction: column;
            gap: 0;

            @media(max-width: 768px) {
                align-items: center;
                gap: 1.7rem;
            }

            .steps__item {
                display: flex;
                flex-direction: row;
                gap: 2.2rem;

                @media(max-width: 768px) {
                    align-items: center;
                    flex-direction: column;
                    gap: 1.5rem;
                }

                .steps__number-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 3.3rem;
                    height: auto;

                    .steps__number {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 0 0 auto;
                        width: 3.3rem;
                        height: 3.3rem;
                        background-color: style.$main-red;
                        border-radius: 50%;
                        color: style.$white;
                        @include fonts.dm-normal;
                        font-size: 1.3rem;
                    }

                    .steps__line {
                        flex: 1 1 auto;
                        width: 2px;
                        height: 5rem;
                        background-color: style.$gray;

                        @media(max-width: 768px) {
                            display: none;
                        }
                    }
                }

                .steps__content {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    padding-bottom: 1.5rem;

                    @media(max-width: 768px) {
                        align-items: center;
                        gap: 0.3rem;
                    }

                    .steps__heading {
                        @include fonts.dm-normal;
                        color: style.$dark-blue;
                        font-size: 1.5rem;
                    }

                    .steps__description {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;
                        @include fonts.dm-thin;
                        color: style.$gray;
                        font-size: 1.2rem;
                        line-height: 2rem;

                        @media(max-width: 768px) {
                            display: block;
                            width: 250px;
                            white-space: nowrap;
                            overflow: hidden;
                            transition: height;
                            text-overflow: ellipsis;
                            text-align: center;

                            &.show{
                                white-space: normal;
                                overflow: visible;
                                text-overflow: unset;
                            }
                        }
                    }
                    .steps__image-block {
                        display: flex;
                        flex-direction: row;
                        gap: 2.5rem;
                        align-items: flex-start;
                        justify-content: flex-start;

                         @media(max-width: 768px) {
                            flex-direction: column;
                            align-items: center;
                            padding-top: 1.5rem;
                        }

                        .steps__image {
                            background-image: url('./../../src/images/moto.png');
                            background-position: center;
                            background-size: contain ;
                            width: 250px;
                            height: 166px;
                            margin-bottom: 1.5rem;
                        }

                        .steps__content {
                            display: flex;
                            flex-direction: column;
                            gap: 0.6rem;
                            max-width: 446px;

                            @media(max-width: 768px) {
                                text-align: center;
                            }

                            .steps__heading {
                                @include fonts.dm-normal;
                                color: style.$dark-blue;
                                font-size: 1.5rem;

                                @media(max-width: 768px) {
                                    text-align: center;
                                }
                            }

                            .steps__description {
                                @include fonts.dm-thin;
                                color: style.$gray;
                                font-size: 1.2rem;
                                line-height: 2rem;

                                @media(max-width: 768px) {
                                    display: block;
                                    width: 314px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .steps__button {
                    display: none;

                        @media(max-width: 768px) {
                            display: flex;
                            width: max-content;
                            padding-top: 0.4rem;
                            color: style.$main-red;
                            @include fonts.dm-thin;
                            font-size: 1rem;
                            background: none;
                            border: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .steps__action-button {
                        @include button.button;
                        margin-top: 1.5rem;
                        width: 210px;
                        @include fonts.dm-normal;

                        &:hover {
                            border: 1px solid style.$main-red;
                        }

                        @media(max-width: 768px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
